.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}
.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}
.header .logo i{
    color: var(--orange);
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}
.header .navbar a:hover{
    color:var(--orange);
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-left: 0.3rem;
    text-align: center;
    cursor: pointer;
}
.header .icons div:hover{
    background: var(--orange);
    color: #fff;
}
.header .search-form{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    overflow: hidden;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form.active{
   right: 2rem !important;
   transition: 0.3s linear; 
}
.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover{
    color: var(--orange)
}

.menu-item:hover, mat-icon:hover{
    color: var(--orange) !important;
}
.size:hover{  
    font-size: 20px !important;
}

@media screen and (min-device-width: 100px) and (max-device-width: 914px){
    .navbar{
        display: none;
    }
    .header .search-form{
        width: 40%;
    }
}







