<header class="header">
    <a href="" class="logo">
        <i class="fa fa-shopping-basket"></i>
        RSKMart
    </a>
    <nav class="navbar">
        <a href="#home"> Home</a>
        <a href="#features"> Features</a>
        <a href="#products"> Products</a>
        <a href="#categories"> Categories</a>
        <a href="#reviews"> Reviews</a>
    </nav>
    <div class="icons">
        <div class="fa fa-search" id="search-btn"></div>
        <div class="fa fa-shopping-cart" id="cart-btn"></div>
        <div class="fa fa-user" id="login-btn"></div>
    </div>
    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="Search here...">
    </form>
</header>
