<header class="header">
    <a href="" class="logo">
        <i class="fa fa-shopping-basket"></i>
        RSKMart
    </a>
    <nav class="navbar">
        <a href="#home"> Home</a>
        <a href="#features"> Features</a>
        <a href="#products"> Products</a>
        <a href="#categories"> Categories</a>
        <a href="#reviews"> Reviews</a>
    </nav>
    <div class="icons">
        <div class="fa fa-search" id="search-btn"></div>
        <div class="fa fa-shopping-cart" id="cart-btn"></div>
        <div class="fa fa-user" id="login-btn" [matMenuTriggerFor]="menu"></div>
    </div>
    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="Search here...">
    </form>
</header>

<mat-menu #menu="matMenu">
    <button mat-menu-item class="menu-item">
        <mat-icon>account_circle</mat-icon><span class="size" (click)="userSignup()">Register</span> 
    </button> 
    <button mat-menu-item class="menu-item">
        <mat-icon>exit_to_app</mat-icon><span class="size" (click)="userLogin()">Login</span>
    </button>
    <button mat-menu-item class="menu-item">
        <mat-icon>power_settings_new</mat-icon><span class="size">Exit</span>
    </button>
</mat-menu>
